:root{
     --spoiler-color:#000;
}
p{
    line-height: 1.5em;
}
.post{
    background: #e8eaed;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
}
.spoiler{
    background-color: var(--spoiler-color);
    color: var(--spoiler-color);
    transition: 0.5s ease-in;
}
.spoiler:hover{
   background-color: initial;
   color: initial;
   
}