html, body {
    margin: 0;
    padding: 0;
}

:root {
    --bg-word: #5134ff;
}
.container{
    height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;
}
h1:after{
    content: "";
    animation: 7s swap infinite;
    background: var(--bg-word);
    padding: 10px;
    color: white;
    border-radius: 4px;
    margin-left: 4px;
}
@keyframes swap {
 0% {
    content: "Coding";
 }  
 25% {
    content: "Scrimba";
 } 
 50%{
    content: "Reading";
 }
 75%{
    content: "Singing";
 }
 100%{
   content: "Anime";
 }
}